.filter {

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item {
  }
}
.filter-date {
}
.filter-category {
}
.filter-operation {
}
.filter-sum {
}